.footer-heading {
    font-weight: 600;
    line-height: 55px;
}

.footer-top {
    border-bottom: 1px solid rgba(211, 211, 211, 0.253);
    padding: 50px 0 50px 0;
}

.social-icons {
    list-style: none;
    display: flex;
    color: white;
    padding: 0;
}

.social-icons li {
    margin-right: 20px;
}

.footer-headings {
    color: white;
    font-weight: 600;
    font-size: 22px;
}

.footer-links {
    color: white;
    list-style: none;
    line-height: 60px;
    padding: 0;
    margin-top: 30px;
}